## **Assignment 3**

**Aug 30, 2025 at 9:00 AM**

![Flow Sample](flow-sample.png)

### Exploratory Data Analysis (EDA)

In [2]:
# !pip install plotly

In [3]:
import pandas as pd
import numpy as np
import plotly.express as px

In [4]:
order = pd.read_csv("order_raw.csv")
cancel = pd.read_csv("professional_cancel_raw.csv")
quality = pd.read_csv("professional_quality_problem_raw.csv")
rating = pd.read_csv("professional_rating_raw.csv")

C:\Users\Christopher French\AppData\Local\Temp\ipykernel_15760\1607272043.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  order = pd.read_csv("order_raw.csv")

In [5]:
order

            booking_id  professional_id        cleaning_date  total_hour
0                   23                8  2016-03-26 13:00:00         2.0
1                   24                5  2016-03-28 13:00:00         2.5
2                   25                7  2016-03-31 17:00:00         2.5
3                   26                7  2016-03-31 13:00:00         2.0
4                   27                8  2016-04-01 13:00:00         2.5
...                ...              ...                  ...         ...
1091449     2503311FRG            12498  2025-03-31 18:00:00         2.0
1091450  250331TMP0FDP            12086  2025-03-31 15:00:00         2.0
1091451     250331XWU9            11275  2025-03-31 15:00:00         4.0
1091452  250331TMPWPER            10019  2025-03-31 16:00:00         4.0
1091453  250331TMPJC83             9834  2025-03-31 18:00:00         2.0

[1091454 rows x 4 columns]

In [6]:
cancel

,report_date,professional_id,report_problem_id,problem_name
0,2025-01-01 06:55:00,8246,32182,คืนงาน (กะทันหัน)
1,2025-01-01 11:03:00,10287,32187,คืนงาน (กะทันหัน)
2,2025-01-01 10:11:00,79,32189,คืนงาน (ล่วงหน้า)
3,2025-01-01 11:50:00,11090,32190,คืนงาน (กะทันหัน)
4,2025-01-01 14:45:00,7810,32191,คืนงาน (กะทันหัน)
...,...,...,...,...
1089,2025-03-31 19:21:00,11690,34543,คืนงาน (ล่วงหน้า)
1090,2025-03-31 19:23:00,11003,34544,คืนงาน (ล่วงหน้า)
1091,2025-03-31 20:26:00,5186,34545,คืนงาน (โครงการป้อนงานคุณแม่บ้าน)
1092,2025-03-28 16:45:00,12103,34554,คืนงาน (กะทันหัน)
1093,2025-03-31 17:54:00,5444,34555,คืนงาน (กะทันหัน)

In [7]:
quality

             report_date  professional_id  report_problem_id      problem_name
0    2025-01-02 15:59:00             9280              32218  เข้าให้บริการสาย
1    2025-01-11 10:30:00            10555              32434  เข้าให้บริการสาย
2    2025-01-13 17:22:00            11144              32504  เข้าให้บริการสาย
3    2025-01-17 18:30:00            11760              32598  เข้าให้บริการสาย
4    2025-01-18 10:21:00            11760              32606  เข้าให้บริการสาย
..                   ...              ...                ...               ...
897  2025-03-10 06:30:00            12187              33923      แอร์ไม่เย็น
898  2025-03-10 06:37:00            12187              33931      แอร์ไม่เย็น
899  2025-02-24 08:06:00            11997              33516   แอร์มีเสียงดัง
900  2025-02-26 11:02:00            11997              33569   แอร์มีเสียงดัง
901  2025-03-28 10:51:00            12153              34385   แอร์มีเสียงดัง

[902 rows x 4 columns]

In [8]:
rating

        booking_id  professional_id  rating          review_date
0               42                7     5.0  2016-04-14 21:30:08
1               39                7     5.0  2016-04-16 21:07:52
2               53                6     4.5  2016-04-17 14:00:00
3               40                7     5.0  2016-04-18 21:26:28
4               73                7     5.0  2016-04-20 15:13:19
...            ...              ...     ...                  ...
296684  2504298PD1            10953     5.0  2025-04-29 16:12:19
296685  2504273879            12617     4.0  2025-04-29 16:13:26
296686  250425CRYX            12071     5.0  2025-04-29 16:18:59
296687  250427ZXX8             1256     5.0  2025-04-29 16:23:47
296688  250427G242            12125     5.0  2025-04-29 16:24:59

[296689 rows x 4 columns]

**Check Missing Data**

In [9]:
order.isnull().sum()

booking_id         0
professional_id    0
cleaning_date      0
total_hour         0
dtype: int64

In [10]:
cancel.isnull().sum()

report_date          0
professional_id      0
report_problem_id    0
problem_name         0
dtype: int64

In [11]:
quality.isnull().sum()

report_date          0
professional_id      0
report_problem_id    0
problem_name         0
dtype: int64

In [12]:
rating.isnull().sum()

booking_id         29
professional_id     0
rating              0
review_date         0
dtype: int64

<div class="alert alert-block alert-warning">

Found 29 missing values in **rating** field **booking_id**

**We will deal with this problem later!**
</div>

In [13]:
rating[rating["booking_id"].isnull()]

       booking_id  professional_id  rating          review_date
42            NaN                7     5.0  2016-05-19 07:42:53
3684          NaN               46     5.0  2017-08-22 22:06:36
10855         NaN              395     1.0  2018-06-16 19:00:15
10991         NaN              162     5.0  2018-06-22 07:20:57
11852         NaN              202     4.0  2018-07-20 13:17:48
14322         NaN               65     1.0  2018-10-01 11:42:23
16617         NaN              549     5.0  2018-12-01 14:47:29
18566         NaN              538     5.0  2019-02-09 10:00:26
18660         NaN                0     5.0  2019-02-11 22:33:56
34469         NaN             1089     5.0  2019-11-12 18:21:48
34474         NaN             1386     5.0  2019-11-12 20:18:00
34490         NaN             1641     5.0  2019-11-13 10:30:24
34504         NaN             1024     5.0  2019-11-13 16:50:32
34508         NaN              614     5.0  2019-11-13 17:34:14
37735         NaN             1440     5.0  2019-12-24 20:54:20
41883         NaN             1956     5.0  2020-02-11 14:28:39
43549         NaN             1783     5.0  2020-03-02 10:45:13
53868         NaN                0     5.0  2020-07-29 13:18:38
55388         NaN              300     5.0  2020-08-16 15:39:05
56103         NaN              526     4.0  2020-08-24 18:24:07
67198         NaN             3286     5.0  2020-12-31 16:49:27
76982         NaN              300     5.0  2021-04-09 19:26:47
81591         NaN             2989     5.0  2021-06-03 16:33:16
98691         NaN                0     5.0  2021-12-16 12:24:26
98813         NaN             1233     5.0  2021-12-17 14:02:08
99827         NaN             1233     5.0  2021-12-25 19:02:05
140343        NaN                4     4.7  2022-10-15 10:00:00
205312        NaN             8808     5.0  2023-11-11 09:48:13
260306        NaN                6     5.0  2024-10-18 16:08:52

**Check Data Type**

In [14]:
print(order.info())
print("-------------------------------------")
print(cancel.info())
print("-------------------------------------")
print(quality.info())
print("-------------------------------------")
print(rating.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1091454 entries, 0 to 1091453
Data columns (total 4 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   booking_id       1091454 non-null  object
 1   professional_id  1091454 non-null  int64
 2   cleaning_date    1091454 non-null  object
 3   total_hour       1091454 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 33.3+ MB
None
-------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   report_date        1094 non-null   object
 1   professional_id    1094 non-null   int64
 2   report_problem_id  1094 non-null   int64
 3   problem_name       1094 non-null   object
dtypes: int64(2), object(2)
memory usage: 34.3+ KB
None
-------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 902 entries, 0 to 901
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   report_date        902 non-null    object
 1   professional_id    902 non-null    int64
 2   report_problem_id  902 non-null    int64
 3   problem_name       902 non-null    object
dtypes: int64(2), object(2)
memory usage: 28.3+ KB
None
-------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296689 entries, 0 to 296688
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   booking_id       296660 non-null  object
 1   professional_id  296689 non-null  int64
 2   rating           296689 non-null  float64
 3   review_date      296689 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 9.1+ MB
None

### **Main Tasks** 
Get Data from profession_id with work hour more than or equal to 80 hours up from the last 3 months (January - March 2025) to filter the following tasks:
<ol>
    <li>Task: professional_id</li>
    <li>Task: Work Hour on January / February / March</li>
    <li>Task: Rating/Review Score from the last 3 months</li>
    <li>Task: Service Quality Problem from the last 3 month</li>
    <li>Task: Cancel Problem from the last 3 months</li>
</ol>

<div class="alert alert-block alert-info">

**Tools/Techniques:** Use Pandas **GroupBy** and **Pivot Table** functions for these Tasks

</div>

#### **1st Task:** Order Data
Filter professional_id with work hour more than or equal to 80 hours up from the last 3 months

In [15]:
order

            booking_id  professional_id        cleaning_date  total_hour
0                   23                8  2016-03-26 13:00:00         2.0
1                   24                5  2016-03-28 13:00:00         2.5
2                   25                7  2016-03-31 17:00:00         2.5
3                   26                7  2016-03-31 13:00:00         2.0
4                   27                8  2016-04-01 13:00:00         2.5
...                ...              ...                  ...         ...
1091449     2503311FRG            12498  2025-03-31 18:00:00         2.0
1091450  250331TMP0FDP            12086  2025-03-31 15:00:00         2.0
1091451     250331XWU9            11275  2025-03-31 15:00:00         4.0
1091452  250331TMPWPER            10019  2025-03-31 16:00:00         4.0
1091453  250331TMPJC83             9834  2025-03-31 18:00:00         2.0

[1091454 rows x 4 columns]

##### **Filter:** Order Data by Month

In [16]:
# Filter 2025-01-01 - 2025-03-31
order[["date", "time"]] = order["cleaning_date"].str.split(" ", expand=True)
order["cleaning_month"] = order["date"].str.slice(stop = 7)
order.head()

,booking_id,professional_id,cleaning_date,total_hour,date,time,cleaning_month
0,23,8,2016-03-26 13:00:00,2.0,2016-03-26,13:00:00,2016-03
1,24,5,2016-03-28 13:00:00,2.5,2016-03-28,13:00:00,2016-03
2,25,7,2016-03-31 17:00:00,2.5,2016-03-31,17:00:00,2016-03
3,26,7,2016-03-31 13:00:00,2.0,2016-03-31,13:00:00,2016-03
4,27,8,2016-04-01 13:00:00,2.5,2016-04-01,13:00:00,2016-04

In [17]:
# Filtering data for cleaning month between "2025-01" to "2025-03"
filter_month = order[(order["cleaning_month"] >= "2025-01") & (order["cleaning_month"] <= "2025-03")]

# Show filtered cleaningmonth "2025-01" to "2025-03"
filter_month

,booking_id,professional_id,cleaning_date,total_hour,date,time,cleaning_month
36919,44397,7873,2025-01-04 11:00:00,6.0,2025-01-04,11:00:00,2025-01
45830,62349,10890,2025-03-03 17:00:00,2.0,2025-03-03,17:00:00,2025-03
65533,84447,8409,2025-01-19 09:00:00,6.0,2025-01-19,09:00:00,2025-01
98458,121641,7935,2025-03-23 14:00:00,3.0,2025-03-23,14:00:00,2025-03
140820,169608,12180,2025-03-29 10:00:00,6.0,2025-03-29,10:00:00,2025-03
...,...,...,...,...,...,...,...
1091449,2503311FRG,12498,2025-03-31 18:00:00,2.0,2025-03-31,18:00:00,2025-03
1091450,250331TMP0FDP,12086,2025-03-31 15:00:00,2.0,2025-03-31,15:00:00,2025-03
1091451,250331XWU9,11275,2025-03-31 15:00:00,4.0,2025-03-31,15:00:00,2025-03
1091452,250331TMPWPER,10019,2025-03-31 16:00:00,4.0,2025-03-31,16:00:00,2025-03
1091453,250331TMPJC83,9834,2025-03-31 18:00:00,2.0,2025-03-31,18:00:00,2025-03

In [18]:
3+2+2+2.5+2+2+4+2

19.5

Now, we only have a filtered data from cleaning_month 2025-01 to 2025-03

##### **GroupBy:** cleaning_month, professional_id

**Calculate:** Total Work Hour of each professional_id

In [ ]:
# Group by cleaning_month and professional_id and calculate total work hour
order_group = filter_month.groupby(["cleaning_month", "professional_id"]).agg(
                                    total_hours=("total_hour", "sum")
                                    ).reset_index()
order_group

     cleaning_month  professional_id  total_hours
0           2025-01               19          7.5
1           2025-01               21         99.5
2           2025-01               24         50.0
3           2025-01               28         64.0
4           2025-01               79         50.0
...             ...              ...          ...
5841        2025-03            12540         11.0
5842        2025-03            12541          7.0
5843        2025-03            12542          2.0
5844        2025-03            12543          7.0
5845        2025-03            12549         20.0

[5846 rows x 3 columns]

Checking that the grouped data is valid

In [20]:
order_group[order_group["professional_id"]==19]

     cleaning_month  professional_id  total_hours
0           2025-01               19          7.5
1925        2025-02               19         10.0

In [21]:
id = 19
hours = filter_month[filter_month["professional_id"]==id]["total_hour"].sum()
print(f"Total Work Hour of {id} is {hours} hours")

Total Work Hour of 19 is 17.5 hours

In [22]:
order_group[order_group["professional_id"]==21]

     cleaning_month  professional_id  total_hours
1           2025-01               21         99.5
1926        2025-02               21         92.5
3880        2025-03               21         84.0

In [23]:
temp = 99.5 + 92.5 + 84.0
temp

276.0

In [24]:
id = 21
hours = filter_month[filter_month["professional_id"]==id]["total_hour"].sum()
print(f"Total Work Hour of {id} is {hours} hours")

Total Work Hour of 21 is 276.0 hours

In [25]:
order_group[order_group["professional_id"]==12549]

     cleaning_month  professional_id  total_hours
5845        2025-03            12549         20.0

In [26]:
id = 12549
hours = filter_month[filter_month["professional_id"]==id]["total_hour"].sum()
print(f"Total Work Hour of {id} is {hours} hours")

Total Work Hour of 12549 is 20.0 hours

##### **Pivot Table:** cleaning_month to increase clarity

<div class="alert alert-block alert-info">

Don't forget to **fill NaN value with 0** (it means that the total work hour on that month is 0 hour)

</div>

In [27]:
order_pivot = pd.pivot_table(order_group,
                             values="total_hours",
                             index="professional_id",
                             columns="cleaning_month",
                             fill_value=0)
order_pivot

cleaning_month   2025-01  2025-02  2025-03
professional_id
19                   7.5     10.0      0.0
21                  99.5     92.5     84.0
24                  50.0     44.0     51.0
28                  64.0     54.0     64.0
79                  50.0     20.0     33.0
...                  ...      ...      ...
12540                0.0      0.0     11.0
12541                0.0      0.0      7.0
12542                0.0      0.0      2.0
12543                0.0      0.0      7.0
12549                0.0      0.0     20.0

[2294 rows x 3 columns]

##### **Filter:** Select professional_id with total_hour >= 80.0 on each month

In [28]:
order_pivot.columns

Index(['2025-01', '2025-02', '2025-03'], dtype='object', name='cleaning_month')

In [29]:
order_pivot[["2025-01", "2025-02", "2025-03"]]

cleaning_month   2025-01  2025-02  2025-03
professional_id
19                   7.5     10.0      0.0
21                  99.5     92.5     84.0
24                  50.0     44.0     51.0
28                  64.0     54.0     64.0
79                  50.0     20.0     33.0
...                  ...      ...      ...
12540                0.0      0.0     11.0
12541                0.0      0.0      7.0
12542                0.0      0.0      2.0
12543                0.0      0.0      7.0
12549                0.0      0.0     20.0

[2294 rows x 3 columns]

In [30]:
order_result = order_pivot[(order_pivot["2025-01"] >= 80.0) &
                           (order_pivot["2025-02"] >= 80.0) &
                           (order_pivot["2025-03"] >= 80.0)]
order_result

cleaning_month   2025-01  2025-02  2025-03
professional_id
21                  99.5     92.5     84.0
203                143.0    145.0    145.5
238                105.0     98.5    101.0
239                 86.5     84.0    108.5
243                116.5    100.0    100.5
...                  ...      ...      ...
11973              117.0    110.5    136.0
11974              133.5    163.0    165.5
11993              129.5    118.0    119.0
11994              107.5    107.0    100.0
12015              121.0     82.5    137.5

[173 rows x 3 columns]

##### **Visualize:** Scatter Plot with Trendline

In [31]:
# Install Neccessary Libraries
#!pip install statsmodels
#!pip install nbformat
#!pip install ipython nbformat

In [36]:
import plotly.express as px

if 'professional_id' not in order_result.columns:
    order_result = order_result.reset_index()
    
fig = px.scatter(
    order_result,
    x="professional_id",
    y=["2025-01", "2025-02", "2025-03"],
    title="Scatter Plot of Work Hours with Trend Line",
    labels={"value": "Work Hours", "variable": "Month"},
    trendline="ols"
)

fig.show()

#### **2nd Task:** Rating Score

Get Data from profession_id with work hour more than or equal to 80 hours up from the last 3 months (January - March 2025) to filter the following tasks:
<ol>
    <li>Task: professional_id ✅ <b>DONE!</b></li>
    <li>Task: Work Hour on January / February / March ✅ <b>DONE!</b></li>
    <li>Task: Rating/Review Score from the last 3 months</li>
    <li>Task: Service Quality Problem from the last 3 month</li>
    <li>Task: Cancel Problem from the last 3 months</li>
</ol>

<div class="alert alert-block alert-info">

**Tools/Techniques:** Use Pandas **GroupBy** and **Pivot Table** functions for these Tasks

</div>

In [ ]:
# rating = pd.read_csv("professional_rating_raw.csv")
rating

        booking_id  professional_id  rating          review_date
0               42                7     5.0  2016-04-14 21:30:08
1               39                7     5.0  2016-04-16 21:07:52
2               53                6     4.5  2016-04-17 14:00:00
3               40                7     5.0  2016-04-18 21:26:28
4               73                7     5.0  2016-04-20 15:13:19
...            ...              ...     ...                  ...
296684  2504298PD1            10953     5.0  2025-04-29 16:12:19
296685  2504273879            12617     4.0  2025-04-29 16:13:26
296686  250425CRYX            12071     5.0  2025-04-29 16:18:59
296687  250427ZXX8             1256     5.0  2025-04-29 16:23:47
296688  250427G242            12125     5.0  2025-04-29 16:24:59

[296689 rows x 4 columns]

##### **Filter:** Rating Data by Month

In [48]:
rating[["date", "time"]] = rating["review_date"].str.split(" ", expand=True)
rating["review_month"] = rating["date"].str.slice(stop = 7)
rating.head()

,booking_id,professional_id,rating,review_date,date,time,review_month
0,42,7,5.0,2016-04-14 21:30:08,2016-04-14,21:30:08,2016-04
1,39,7,5.0,2016-04-16 21:07:52,2016-04-16,21:07:52,2016-04
2,53,6,4.5,2016-04-17 14:00:00,2016-04-17,14:00:00,2016-04
3,40,7,5.0,2016-04-18 21:26:28,2016-04-18,21:26:28,2016-04
4,73,7,5.0,2016-04-20 15:13:19,2016-04-20,15:13:19,2016-04

In [50]:
filter_month = rating[(rating["review_month"] >= "2025-01") & (rating["review_month"] <= "2025-03")]
filter_month

,booking_id,professional_id,rating,review_date,date,time,review_month
273848,2412294F7S,5859,5.0,2025-01-01 01:15:17,2025-01-01,01:15:17,2025-01
273849,241226Q97L,10110,5.0,2025-01-01 01:35:33,2025-01-01,01:35:33,2025-01
273850,241230GWV4,9503,5.0,2025-01-01 02:18:09,2025-01-01,02:18:09,2025-01
273851,241220AQAS,9338,5.0,2025-01-01 04:06:38,2025-01-01,04:06:38,2025-01
273852,2405157J5L,5341,5.0,2025-01-01 06:17:13,2025-01-01,06:17:13,2025-01
...,...,...,...,...,...,...,...
291344,250330VXTK,9191,5.0,2025-03-31 22:56:46,2025-03-31,22:56:46,2025-03
291345,250330P2Y3,9233,5.0,2025-03-31 23:06:38,2025-03-31,23:06:38,2025-03
291346,250324QCLU,10216,5.0,2025-03-31 23:15:50,2025-03-31,23:15:50,2025-03
291347,250330HF44,5273,5.0,2025-03-31 23:35:44,2025-03-31,23:35:44,2025-03
291348,250326JF4K,12336,5.0,2025-03-31 23:39:02,2025-03-31,23:39:02,2025-03

In [51]:
filter_month.review_month.unique()

array(['2025-01', '2025-02', '2025-03'], dtype=object)

In [52]:
filter_month.professional_id.value_counts()

professional_id
732      71
11993    58
10744    51
10129    50
11528    48
         ..
11447     1
5094      1
9349      1
2607      1
8590      1
Name: count, Length: 1934, dtype: int64

##### **GroupBy:** cleaning_month, professional_id

**Calculate:** Average Rating

In [58]:
rating_group = filter_month.groupby(["review_month", "professional_id"]).agg(
                              avr_review=("rating", "mean")
                              ).reset_index()
rating_group

     review_month  professional_id  avr_review
0         2025-01               21         5.0
1         2025-01               79         5.0
2         2025-01              104         5.0
3         2025-01              145         5.0
4         2025-01              203         5.0
...           ...              ...         ...
4316      2025-03            12516         5.0
4317      2025-03            12517         5.0
4318      2025-03            12539         5.0
4319      2025-03            12541         5.0
4320      2025-03            12549         5.0

[4321 rows x 3 columns]

Checking that the grouped data is valid

In [60]:
rating_group[rating_group["professional_id"] == 203]

     review_month  professional_id  avr_review
4         2025-01              203         5.0
1455      2025-02              203         5.0
2872      2025-03              203         5.0

In [62]:
rating[rating["professional_id"] == 203]["rating"].value_counts()

rating
5.0    1367
4.0      11
3.0       2
Name: count, dtype: int64

In [70]:
rating_group["avr_review"].value_counts()

avr_review
5.000000    3582
4.500000      76
4.666667      73
4.000000      64
4.750000      54
            ...
3.250000       1
4.100000       1
4.375000       1
3.714286       1
4.545455       1
Name: count, Length: 76, dtype: int64

In [89]:
rating_group[rating_group["avr_review"] == 3.25]

     review_month  professional_id  avr_review
2396      2025-02            10988        3.25

In [91]:
rating_group[rating_group["professional_id"] == 10988]

     review_month  professional_id  avr_review
1011      2025-01            10988        5.00
2396      2025-02            10988        3.25
3778      2025-03            10988        4.50

In [93]:
id = 10988
temp = filter_month[filter_month["professional_id"] == id]
print(f"Average Rating of {id} in January is {(5+5+5)/3} ⭐⭐⭐⭐⭐")
print(f"Average Rating of {id} in February is {(5+2+1+5)/4} ⭐⭐⭐")
print(f"Average Rating of {id} in March is {(4+5)/2} ⭐⭐⭐⭐")
temp

Average Rating of 10988 in January is 5.0 ⭐⭐⭐⭐⭐
Average Rating of 10988 in February is 3.25 ⭐⭐⭐
Average Rating of 10988 in March is 4.5 ⭐⭐⭐⭐

,booking_id,professional_id,rating,review_date,date,time,review_month
276225,250110AP8K,10988,5.0,2025-01-13 13:28:06,2025-01-13,13:28:06,2025-01
277085,250117TYC4,10988,5.0,2025-01-18 13:19:41,2025-01-18,13:19:41,2025-01
278445,250112CTKK,10988,5.0,2025-01-25 13:46:42,2025-01-25,13:46:42,2025-01
280450,25012732H8,10988,5.0,2025-02-03 18:14:23,2025-02-03,18:14:23,2025-02
282388,250212QXV3,10988,2.0,2025-02-13 07:57:46,2025-02-13,07:57:46,2025-02
283018,250210ZJT8,10988,1.0,2025-02-16 15:10:45,2025-02-16,15:10:45,2025-02
284495,250224F4YF,10988,5.0,2025-02-24 15:15:09,2025-02-24,15:15:09,2025-02
287050,250304PDNQ,10988,4.0,2025-03-08 20:10:18,2025-03-08,20:10:18,2025-03
288066,2503078PNR,10988,5.0,2025-03-13 21:16:25,2025-03-13,21:16:25,2025-03

##### **Pivot Table:** review_month for a ease of use
<div class="alert alert-block alert-success">

**NaN value** in booking_id field has already been dealt with in Filter phase

</div>

In [94]:
rating_group.isnull().sum()

review_month       0
professional_id    0
avr_review         0
dtype: int64

In [95]:
rating_group.head()

  review_month  professional_id  avr_review
0      2025-01               21         5.0
1      2025-01               79         5.0
2      2025-01              104         5.0
3      2025-01              145         5.0
4      2025-01              203         5.0

In [ ]:
rating.rating.unique() # There are no 0 in rating data
# Only Rating 1 - 5 is available
# So 0 will means no review/rating

array([5. , 4.5, 4. , 2.5, 3. , 3.5, 1. , 2. , 0.5, 1.5, 4.7])

<div class="alert alert-block alert-info">

Don't forget to **fill NaN value with 0** (it means that there are no review on that month)

</div>

In [96]:
rating_pivot = pd.pivot_table(rating_group,
                              values="avr_review",
                              index="professional_id",
                              columns="review_month",
                              fill_value=0)
rating_pivot

review_month     2025-01  2025-02  2025-03
professional_id
21                   5.0      5.0      5.0
79                   5.0      0.0      0.0
104                  5.0      0.0      0.0
145                  5.0      5.0      0.0
155                  0.0      5.0      0.0
...                  ...      ...      ...
12516                0.0      0.0      5.0
12517                0.0      0.0      5.0
12539                0.0      0.0      5.0
12541                0.0      0.0      5.0
12549                0.0      0.0      5.0

[1934 rows x 3 columns]

#### **3rd Task: Cancel Problem Analysis**

**Cancel Data** must be filter to select only the "abruptly" one which is the **MAIN PROBLEM**

In [98]:
cancel

,report_date,professional_id,report_problem_id,problem_name
0,2025-01-01 06:55:00,8246,32182,คืนงาน (กะทันหัน)
1,2025-01-01 11:03:00,10287,32187,คืนงาน (กะทันหัน)
2,2025-01-01 10:11:00,79,32189,คืนงาน (ล่วงหน้า)
3,2025-01-01 11:50:00,11090,32190,คืนงาน (กะทันหัน)
4,2025-01-01 14:45:00,7810,32191,คืนงาน (กะทันหัน)
...,...,...,...,...
1089,2025-03-31 19:21:00,11690,34543,คืนงาน (ล่วงหน้า)
1090,2025-03-31 19:23:00,11003,34544,คืนงาน (ล่วงหน้า)
1091,2025-03-31 20:26:00,5186,34545,คืนงาน (โครงการป้อนงานคุณแม่บ้าน)
1092,2025-03-28 16:45:00,12103,34554,คืนงาน (กะทันหัน)
1093,2025-03-31 17:54:00,5444,34555,คืนงาน (กะทันหัน)

In [102]:
cancel.problem_name.value_counts()

problem_name
คืนงาน (กะทันหัน)                    635
คืนงาน (ล่วงหน้า)                    434
คืนงาน (โครงการป้อนงานคุณแม่บ้าน)     25
Name: count, dtype: int64

##### **Filter:** Cancel Data by Month and Problem (Abruptly)

In [106]:
cancel[["date", "time"]] = cancel["report_date"].str.split(" ", expand=True)
cancel["report_month"] = cancel["date"].str.slice(stop = 7)
cancel.head()

,report_date,professional_id,report_problem_id,problem_name,date,time,report_month
0,2025-01-01 06:55:00,8246,32182,คืนงาน (กะทันหัน),2025-01-01,06:55:00,2025-01
1,2025-01-01 11:03:00,10287,32187,คืนงาน (กะทันหัน),2025-01-01,11:03:00,2025-01
2,2025-01-01 10:11:00,79,32189,คืนงาน (ล่วงหน้า),2025-01-01,10:11:00,2025-01
3,2025-01-01 11:50:00,11090,32190,คืนงาน (กะทันหัน),2025-01-01,11:50:00,2025-01
4,2025-01-01 14:45:00,7810,32191,คืนงาน (กะทันหัน),2025-01-01,14:45:00,2025-01

In [107]:
filter_cancel = cancel[cancel["problem_name"] == "คืนงาน (กะทันหัน)"]
filter_cancel = filter_cancel[(filter_cancel["report_month"] >= "2025-01") &
                              (filter_cancel["report_month"] <= "2025-03")]
filter_cancel

,report_date,professional_id,report_problem_id,problem_name,date,time,report_month
0,2025-01-01 06:55:00,8246,32182,คืนงาน (กะทันหัน),2025-01-01,06:55:00,2025-01
1,2025-01-01 11:03:00,10287,32187,คืนงาน (กะทันหัน),2025-01-01,11:03:00,2025-01
3,2025-01-01 11:50:00,11090,32190,คืนงาน (กะทันหัน),2025-01-01,11:50:00,2025-01
4,2025-01-01 14:45:00,7810,32191,คืนงาน (กะทันหัน),2025-01-01,14:45:00,2025-01
5,2025-01-01 19:28:00,10777,32194,คืนงาน (กะทันหัน),2025-01-01,19:28:00,2025-01
...,...,...,...,...,...,...,...
1084,2025-03-31 16:55:00,12426,34537,คืนงาน (กะทันหัน),2025-03-31,16:55:00,2025-03
1087,2025-03-31 18:41:00,9520,34540,คืนงาน (กะทันหัน),2025-03-31,18:41:00,2025-03
1088,2025-03-31 18:59:00,9293,34541,คืนงาน (กะทันหัน),2025-03-31,18:59:00,2025-03
1092,2025-03-28 16:45:00,12103,34554,คืนงาน (กะทันหัน),2025-03-28,16:45:00,2025-03
1093,2025-03-31 17:54:00,5444,34555,คืนงาน (กะทันหัน),2025-03-31,17:54:00,2025-03

In [112]:
print(filter_cancel["report_month"].unique())
print(filter_cancel["problem_name"].unique())

['2025-01' '2025-02' '2025-03']
['คืนงาน (กะทันหัน)']

##### **GroupBy:** report_month, professional_id

**Calculate:** Count Adruptly Problem

In [115]:
cancel_group = filter_cancel.groupby(["report_month", "professional_id"]).agg(
                                     total_cancel=("problem_name", "count")
                                    ).reset_index()
cancel_group

    report_month  professional_id  total_cancel
0        2025-01              737             2
1        2025-01             1099             1
2        2025-01             1360             1
3        2025-01             2046             1
4        2025-01             2173             1
..           ...              ...           ...
536      2025-03            12492             1
537      2025-03            12493             1
538      2025-03            12510             1
539      2025-03            12521             1
540      2025-03            12523             1

[541 rows x 3 columns]

Checking that the grouped data is valid

In [118]:
cancel_group[cancel_group["professional_id"] == 737]

    report_month  professional_id  total_cancel
0        2025-01              737             2
183      2025-02              737             1
335      2025-03              737             1

In [119]:
filter_cancel[filter_cancel["professional_id"] == 737]

,report_date,professional_id,report_problem_id,problem_name,date,time,report_month
100,2025-01-09 10:04:00,737,32381,คืนงาน (กะทันหัน),2025-01-09,10:04:00,2025-01
105,2025-01-09 12:55:00,737,32388,คืนงาน (กะทันหัน),2025-01-09,12:55:00,2025-01
594,2025-02-21 12:34:00,737,33439,คืนงาน (กะทันหัน),2025-02-21,12:34:00,2025-02
693,2025-03-02 09:30:00,737,33679,คืนงาน (กะทันหัน),2025-03-02,09:30:00,2025-03

##### **Pivot Table:** report_month for better handling

**Calculate:** Percentage Formula

<div class="alert alert-block alert-info">

Don't forget to **fill NaN value with 0** (it means that there are no abruptly cancellation on that month)

</div>

In [136]:
cancel_pivot = pd.pivot_table(cancel_group,
                              values="total_cancel",
                              index="professional_id",
                              columns="report_month",
                              fill_value=0)
cancel_pivot

report_month     2025-01  2025-02  2025-03
professional_id
226                  0.0      2.0      2.0
737                  2.0      1.0      1.0
1099                 1.0      0.0      0.0
1360                 1.0      0.0      0.0
1589                 0.0      1.0      0.0
...                  ...      ...      ...
12492                0.0      0.0      1.0
12493                0.0      0.0      1.0
12510                0.0      0.0      1.0
12521                0.0      0.0      1.0
12523                0.0      0.0      1.0

[445 rows x 3 columns]

Apply the formula:

<div class="alert alert-block alert-info">

**problem%_jan25 = (total_problem_jan25/total_booking_25) * 100**

</div>

Get total_booking_25 from order (not order_pivot)

In [137]:
# Filter orders for the months January to March 2025
filtered_orders = order[(order["cleaning_month"] >= "2025-01") & (order["cleaning_month"] <= "2025-03")]

# Group by professional_id and count the total bookings
total_booking_25 = filtered_orders.groupby("professional_id").size()

# Convert the result to a DataFrame for better readability
total_booking_25 = total_booking_25.reset_index(name="total_bookings")
total_booking_25.tail()

      professional_id  total_bookings
2289            12540               3
2290            12541               3
2291            12542               1
2292            12543               3
2293            12549               5

Now total_booking_25 is available for each professional_id

In [138]:
# Replace with the actual total_booking_25 values for each professional_id
total_booking_25 = order_pivot.sum(axis=1)  # Example: Sum of bookings across months

# Calculate percentages for each month
cancel_pivot["cancel_jan25"] = (cancel_pivot["2025-01"] / total_booking_25) * 100
cancel_pivot["cancel_feb25"] = (cancel_pivot["2025-02"] / total_booking_25) * 100
cancel_pivot["cancel_mar25"] = (cancel_pivot["2025-03"] / total_booking_25) * 100

# Replace all values in cancel_pivot with the calculated percentages
cancel_pivot = cancel_pivot[["cancel_jan25", "cancel_feb25", "cancel_mar25"]]
cancel_pivot.tail()

report_month     cancel_jan25  cancel_feb25  cancel_mar25
professional_id
12492                     NaN           NaN           NaN
12493                     0.0           0.0      7.142857
12510                     0.0           0.0      2.739726
12521                     0.0           0.0     33.333333
12523                     0.0           0.0     50.000000

Finally, round the values in `cancel_pivot` to 2 decimal places and deal with missing values

In [139]:
cancel_pivot = cancel_pivot.round(2)
cancel_pivot = cancel_pivot.fillna(0)
cancel_pivot

report_month     cancel_jan25  cancel_feb25  cancel_mar25
professional_id
226                      0.00          6.45          6.45
737                      0.70          0.35          0.35
1099                     0.30          0.00          0.00
1360                     0.24          0.00          0.00
1589                     0.00          0.77          0.00
...                       ...           ...           ...
12492                    0.00          0.00          0.00
12493                    0.00          0.00          7.14
12510                    0.00          0.00          2.74
12521                    0.00          0.00         33.33
12523                    0.00          0.00         50.00

[445 rows x 3 columns]

#### **4th Task: Quality Data Problem**

In [ ]:
quality

             report_date  professional_id  report_problem_id      problem_name
0    2025-01-02 15:59:00             9280              32218  เข้าให้บริการสาย
1    2025-01-11 10:30:00            10555              32434  เข้าให้บริการสาย
2    2025-01-13 17:22:00            11144              32504  เข้าให้บริการสาย
3    2025-01-17 18:30:00            11760              32598  เข้าให้บริการสาย
4    2025-01-18 10:21:00            11760              32606  เข้าให้บริการสาย
..                   ...              ...                ...               ...
897  2025-03-10 06:30:00            12187              33923      แอร์ไม่เย็น
898  2025-03-10 06:37:00            12187              33931      แอร์ไม่เย็น
899  2025-02-24 08:06:00            11997              33516   แอร์มีเสียงดัง
900  2025-02-26 11:02:00            11997              33569   แอร์มีเสียงดัง
901  2025-03-28 10:51:00            12153              34385   แอร์มีเสียงดัง

[902 rows x 4 columns]

In [ ]:
quality.problem_name.unique()

array(['เข้าให้บริการสาย',
       'Checkout ก่อนเวลา / ให้บริการไม่ครบชั่วโมงการจอง',
       'ขอเลื่อนเวลานัดหมายการให้บริการ', 'ทำความสะอาดไม่เรียบร้อย',
       'คุณภาพการให้บริการต่ำกว่า 4 ดาว', 'อุปกรณ์/น้ำยาทำความสะอาด',
       'ทิ้งของโดยไม่ถามคุณลูกค้า', 'ประกันคุณภาพ / ความพึงพอใจ',
       'รีดผ้าไม่เรียบ', 'รีดผ้าไม่ครบจำนวนชิ้น',
       'Checkin ก่อนถึงสถานที่นัดหมาย',
       'พื้นที่ "ล้างแอร์" ยังไม่สะอาดเรียบร้อย', 'แอร์มีน้ำหยด',
       'แอร์ไม่เย็น ', 'แอร์มีเสียงดัง '], dtype=object)

##### **Filter:** Quality Data by Month

In [ ]:
quality[["date", "time"]] = quality["report_date"].str.split(" ", expand=True)
quality["report_month"] = quality["date"].str.slice(stop = 7)
quality

,report_date,professional_id,report_problem_id,problem_name,date,time,report_month
0,2025-01-02 15:59:00,9280,32218,เข้าให้บริการสาย,2025-01-02,15:59:00,2025-01
1,2025-01-11 10:30:00,10555,32434,เข้าให้บริการสาย,2025-01-11,10:30:00,2025-01
2,2025-01-13 17:22:00,11144,32504,เข้าให้บริการสาย,2025-01-13,17:22:00,2025-01
3,2025-01-17 18:30:00,11760,32598,เข้าให้บริการสาย,2025-01-17,18:30:00,2025-01
4,2025-01-18 10:21:00,11760,32606,เข้าให้บริการสาย,2025-01-18,10:21:00,2025-01
...,...,...,...,...,...,...,...
897,2025-03-10 06:30:00,12187,33923,แอร์ไม่เย็น,2025-03-10,06:30:00,2025-03
898,2025-03-10 06:37:00,12187,33931,แอร์ไม่เย็น,2025-03-10,06:37:00,2025-03
899,2025-02-24 08:06:00,11997,33516,แอร์มีเสียงดัง,2025-02-24,08:06:00,2025-02
900,2025-02-26 11:02:00,11997,33569,แอร์มีเสียงดัง,2025-02-26,11:02:00,2025-02
901,2025-03-28 10:51:00,12153,34385,แอร์มีเสียงดัง,2025-03-28,10:51:00,2025-03

In [ ]:
filter_quality = quality[(quality["report_month"] >= "2025-01") &
                         (quality["report_month"] <= "2025-03")]
filter_quality

,report_date,professional_id,report_problem_id,problem_name,date,time,report_month
0,2025-01-02 15:59:00,9280,32218,เข้าให้บริการสาย,2025-01-02,15:59:00,2025-01
1,2025-01-11 10:30:00,10555,32434,เข้าให้บริการสาย,2025-01-11,10:30:00,2025-01
2,2025-01-13 17:22:00,11144,32504,เข้าให้บริการสาย,2025-01-13,17:22:00,2025-01
3,2025-01-17 18:30:00,11760,32598,เข้าให้บริการสาย,2025-01-17,18:30:00,2025-01
4,2025-01-18 10:21:00,11760,32606,เข้าให้บริการสาย,2025-01-18,10:21:00,2025-01
...,...,...,...,...,...,...,...
897,2025-03-10 06:30:00,12187,33923,แอร์ไม่เย็น,2025-03-10,06:30:00,2025-03
898,2025-03-10 06:37:00,12187,33931,แอร์ไม่เย็น,2025-03-10,06:37:00,2025-03
899,2025-02-24 08:06:00,11997,33516,แอร์มีเสียงดัง,2025-02-24,08:06:00,2025-02
900,2025-02-26 11:02:00,11997,33569,แอร์มีเสียงดัง,2025-02-26,11:02:00,2025-02
901,2025-03-28 10:51:00,12153,34385,แอร์มีเสียงดัง,2025-03-28,10:51:00,2025-03

##### **GroupBy:** report_month, professional_id

In [148]:
quality_group = filter_quality.groupby(["report_month", "professional_id"]).agg(
                                      total_problems=("problem_name", "count")
                                      ).reset_index()
quality_group

    report_month  professional_id  total_problems
0        2025-01              207               1
1        2025-01              243               1
2        2025-01              342               1
3        2025-01              559               2
4        2025-01              589               1
..           ...              ...             ...
724      2025-03            12437               1
725      2025-03            12445               1
726      2025-03            12470               1
727      2025-03            12484               1
728      2025-03            12516               2

[729 rows x 3 columns]

Checking that the grouped data is valid

In [155]:
quality_group[quality_group["professional_id"] == 207]

    report_month  professional_id  total_problems
0        2025-01              207               1
456      2025-03              207               1

In [156]:
filter_quality[filter_quality["professional_id"] == 207]

,report_date,professional_id,report_problem_id,problem_name,date,time,report_month
545,2025-01-19 10:39:00,207,32637,คุณภาพการให้บริการต่ำกว่า 4 ดาว,2025-01-19,10:39:00,2025-01
768,2025-03-15 21:53:00,207,34069,คุณภาพการให้บริการต่ำกว่า 4 ดาว,2025-03-15,21:53:00,2025-03

##### **Pivot Table:** report_month for better summarize

**Calculate:** Percentage Formula

<div class="alert alert-block alert-info">

Don't forget to **fill NaN value with 0** (it means that there are no problem on that month)

</div>

In [160]:
quality_pivot = pd.pivot_table(quality_group,
                               values="total_problems",
                               index="professional_id",
                               columns="report_month",
                               fill_value=0)
quality_pivot

report_month     2025-01  2025-02  2025-03
professional_id
79                   0.0      0.0      1.0
207                  1.0      0.0      1.0
243                  1.0      1.0      0.0
298                  0.0      0.0      1.0
342                  1.0      0.0      0.0
...                  ...      ...      ...
12437                0.0      0.0      1.0
12445                0.0      0.0      1.0
12470                0.0      0.0      1.0
12484                0.0      0.0      1.0
12516                0.0      0.0      2.0

[584 rows x 3 columns]

Apply the formula:

<div class="alert alert-block alert-info">

**problem%_jan25 = (total_problem_jan25/total_booking_25) * 100**

</div>

Use total_booking_25 DataFrame from 3rd Task

In [161]:
# Replace with the actual total_booking_25 values for each professional_id
total_booking_25 = order_pivot.sum(axis=1)  # Example: Sum of bookings across months

# Calculate percentages for each month
quality_pivot["problem_jan25"] = (quality_pivot["2025-01"] / total_booking_25) * 100
quality_pivot["problem_feb25"] = (quality_pivot["2025-02"] / total_booking_25) * 100
quality_pivot["problem_mar25"] = (quality_pivot["2025-03"] / total_booking_25) * 100

# Replace all values in quality_pivot with the calculated percentages
quality_pivot = quality_pivot[["problem_jan25", "problem_feb25", "problem_mar25"]]
quality_pivot.tail()

report_month     problem_jan25  problem_feb25  problem_mar25
professional_id
12437                      0.0            0.0       1.156069
12445                      0.0            0.0      16.666667
12470                      0.0            0.0       7.692308
12484                      0.0            0.0       5.405405
12516                      0.0            0.0       8.695652

Finally, round the values in `quality_pivot` to 2 decimal places and deal with missing values

In [162]:
quality_pivot = quality_pivot.round(2)
quality_pivot = quality_pivot.fillna(0)
quality_pivot

report_month     problem_jan25  problem_feb25  problem_mar25
professional_id
79                        0.00           0.00           0.97
207                       0.52           0.00           0.52
243                       0.32           0.32           0.00
298                       0.00           0.00           0.87
342                       6.25           0.00           0.00
...                        ...            ...            ...
12437                     0.00           0.00           1.16
12445                     0.00           0.00          16.67
12470                     0.00           0.00           7.69
12484                     0.00           0.00           5.41
12516                     0.00           0.00           8.70

[584 rows x 3 columns]